/JavaThread/nbproject/private/
/ClassPractice/nbproject/private/
/Synchronized/nbproject/private/
/Synchronized/build/
/ClassPractice/build/
/Assertion/nbproject/private/
/Assertion/build/
/AdvanceJava/nbproject/private/
/AdvanceJava/build/
/Chapter18/nbproject/private/
/Chapter18/build/
/MyProject/nbproject/private/
/MyProject/build/
/exercise/nbproject/private/
/exercise/build/
/SketcherImage/nbproject/private/
/Image/nbproject/private/
/Image/build/